@import (reference) "../GPSRealTime/variable.less";

.rm{
    height: 100%;
    width: 100%;
    position: relative;
}
.treeArea{
    width: @leftWidth;
    z-index:1;
}
.bottomArea{
    left: @leftWidth + 20px;
    right: 10px;
}
.toolArea{
    right: 10px;
}
.msgArea{
    position: absolute;
    right:10px;
    top:60px;
    z-index: 1;
}
.narrowLeft{
    .treeArea{
        width: @narrowLeftWidth;
    }
    .bottomArea{
        left: @narrowLeftWidth + 20px;
    }
}
.spin{
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
}
.exitModeBt{
    position: absolute;
    left:50%;
    top:20px;
    z-index: 2;
}
:global{
    .trackCarLabel{
        transform: translate(-50px,-60px);
        border-radius: 5px;
        border: 1px solid @themeColor;
        padding: 3px 5px;
        color: @themeColor;
        background-color: #FFF;
        width:100px;
        text-align: center;
    }
    .stopCarLabel{
        .trackCarLabel;
        color: red;
        border: 1px solid red;
    }
}